# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Scripts
*.sh text eol=lf
*.bash text eol=lf

# Serialisation
*.json text
*.yaml text
*.yml text
*.toml text

# Archives
*.7z binary
*.gz binary
*.tar binary
*.zip binary

# Fonts
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
